* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#app {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  height: 700px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  background: rgb(75, 75, 75);
  color: white;
  padding: 0px 5px 0px 5px;
  border-color: black;
  /* border-bottom: 3px solid black; */
  /* height: 10%; */
}

.header input {
  height: 90%;
}

.header button {
  height: '50px';
}

.header input {
  background: rgb(75, 75, 75);
}

#header__inputLength {
  width: 50px;
  color: white;
}

#header__inputNumbers {
  flex-grow: 1;
  color: white;
}

.sortingBox {
  background-color: #99e2b4;
  /* height: 90%; */
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.bar {
  border-left-style: solid;
  position: absolute;
  bottom: 0px;
  transition: border-left 0.3s;
}